<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../styles/style.css">
	<title>Pestaña</title>
</head>
<body>
	<main>
		<header>
			<img src="../assets/images/logo.jpg" alt="Logo Misifus">
			<h1 id="titulo">Misifus</h1>
		</header>
		<nav>
			<ul>
				<li><a href="../index.html">Inicio</a></li>
				<li><a href="products.html">Productos</a></li>
				<li><a href="contact.html"  class="activo">Contacto</a></li>
			</ul>
		</nav>
		<section>
			<h2>Contacto</h2>
			<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit veniam doloremque aliquid possimus praesentium ducimus sint perspiciatis quo, optio eos repellendus quis temporibus eaque cupiditate nulla ipsa error ratione vero!</p>
			<img src="../assets/images/gato04.jpg" alt="Gato04">
		</section>
		<footer>
			<p>Todos los derechos reservados &copy;</p>
		</footer>
	</main>
</body>
</html>